@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  letter-spacing: 0.5px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav li:hover {
  @apply underline;
}

.hero-section {
  @apply bg-brand-blue;
  @apply text-white;
}

.hero-section button {
  @apply bg-brand-red;
}

header.section-header {
  background-color: '#d84133';
}

.product {
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.mobile-illus-image {
  width: 85%;
}

@media (min-width: 450px) {
  .mobile-illus-image {
    width: 60%;
  }
}

.font-hero {
  font-family: 'Righteous', cursive;
}

.product img {
  transition: transform .2s;
}

.product img:hover {
  transform: scale(1.1);
}