@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  letter-spacing: 0.5px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav li {
  @apply inline-block;
  @apply p-2;
  @apply cursor-pointer;
  @apply mx-2;
}

nav li:hover {
  @apply text-brand-red;
}

.hero-section {
  @apply bg-brand-blue;
  @apply text-white;
}

.hero-section button {
  @apply bg-brand-red;
}

header.section-header {
  background-color: '#d84133';
}
