.illus {
  height: 150px;
  width: 150px;
  border-radius: 12px;
  background-color: white;
  top: 30px;
  right: 60px;
  opacity: 0.2;
  transform: rotate(45deg);
}

.i1 {
  right: 123px; 
  top: 200px;
}

.i1 img , .i2 img, .i3 img {
  width: 90%;
}

.i2 {
  right: 240px; 
  top: 81px;
}

.i3 {
  right: 299px; 
  top: 253px;
}